.Inicio {
    background-color: #FFFDEA;
    /* Color de fondo similar al que aparece en la imagen */
    color: #333;
    /* Color del texto */
    margin: 0;
    padding: 0;
    min-height: 100vh;
    /* Asegura que el cuerpo ocupe al menos el 100% de la altura de la ventana */
    display: flex;
    flex-direction: column;
}



.navbar-brand img {
    height: 80px;
}


/* Hero Section */
.hero-section {
    position: relative;
    text-align: center;
    color: white;
    background-image: url('assets/DSC_0082.jpg');
    background-size: cover;
    height: 100vh;
}



/* About Section */
.about-section {
    background-image: url('assets/tienda.jpg');
    background-size: auto;
    background-position: center;

}

.about-section .p-4 {
    background-color: #FFFDEA;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Products Section */
.products-section {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.products-section h2 {
    font-weight: bold;
    margin-bottom: 2rem;
}

.product-card {
    background-color: black;
    border: 1px solid white;
    border-radius: 5px;
    overflow: hidden;
    transition: transform 0.3s;
}

.product-card:hover {
    transform: scale(1.05);
}

.product-img {
    max-height: 400px;
    object-fit: cover;
}

.product-info {
    padding: 15px;
}

.product-name {
    font-size: 1.1rem;
    font-weight: bold;
    color: white;
}

.product-price {
    color: #dc3545;
    font-weight: bold;
}

/* Footer */
footer {
    background-color: black;
    color: white;
    padding: 20px;
    text-align: center;
}

footer a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
}


/* Product Card Styles */
.product-card {
    background-color: black;
    border: 1px solid white;
    border-radius: 5px;
    overflow: hidden;
    transition: transform 0.3s ease;
}

.product-card:hover {
    transform: scale(1.05);
}

.product-img {
    height: 600px;
    object-fit: cover;
    width: 100%;
}

.product-info {
    padding: 15px;
}

.product-name {
    font-size: 1.1rem;
    font-weight: bold;
    color: white;
}

.product-price {
    color: #dc3545;
    font-weight: bold;
}

/* Filter Section Styles */



body {
    background-color: #C7D7C3;
    /* Color de fondo similar al que aparece en la imagen */
    color: #333;
    /* Color del texto */
    margin: 0;
    padding: 0;
    min-height: 100vh;
    /* Asegura que el cuerpo ocupe al menos el 100% de la altura de la ventana */
    display: flex;
    flex-direction: column;
}

.about-text {
    padding-top: 145px;
}

.container {
    flex: 1;
    /* Hace que la sección principal crezca para ocupar el espacio disponible */
}

.about-video {
    display: flex;
    justify-content: flex-end;
    padding-left: 20px;
  }

 
  .about-video video {
    width: 800px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  

/* Contenedor del producto */
.product-container {
    display: flex;
    padding: 40px;
    justify-content: space-between;
}

.product-images {
    width: 40%;
}

.product-images img {
    width: 100%;
    margin-bottom: 10px;
}

.product-images .thumbnails {
    display: flex;
    justify-content: space-between;
}

.product-images .thumbnails img {
    width: 30%;
}

.product-details {
    width: 55%;
    color: black;
}

.product-title {
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.product-price {
    font-size: 1.5rem;
    color: #d9534f;
    margin-bottom: 20px;
}

.product-info {
    font-size: 0.9rem;
    margin-bottom: 15px;
}



.color-options,
.size-options {
    margin-bottom: 20px;
}

.color-options div,
.size-options div {
    display: inline-block;
    padding: 10px;
    margin-right: 10px;
    border: 1px solid black;
    cursor: pointer;
    width: 70px;
    text-align: center;
}

.cart-button {
    padding: 15px 20px;
    background-color: #0d6efd;
    color: white;
    border: none;
    font-size: 1rem;
    cursor: pointer;
}

.form-container {
    margin-top: 50px;
}

.form-section {
    background-color: #d3d3a3;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.form-header {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 20px;
}

.btn-primary {
    background-color: #001f3f;
    border: none;
}

.form-check-label {
    font-size: 0.9rem;
}
.container{
    padding-bottom: 30px;
}